{% extends 'base.html' %}
{% block title %}새 상품 등록{% endblock %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow-sm">
      <div class="card-header fw-bold text-center">
        새 상품 등록
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}

          <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", rows=5) }}
          </div>
          <div class="mb-3">
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">이미지 업로드</label>
            <input type="file" name="image" class="form-control">
          </div>
          <div class="d-grid">
            {{ form.submit(class="btn btn-success btn-lg") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

